*{
    margin: 0;
    padding: 0;
}

.App{
    padding: 1rem;
}

.App > * {
    padding: 1rem;
}

.dark-theme,
.dark-theme a {
    background-color: #333;
    color: #fff;
}

.Home > * {
    padding: 1rem;
}

.li{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    background-color: dodgerblue;
    list-style-type: none;
    padding: 1rem;
}
.decoration {
    text-decoration: underline;
}